@import '@core/scss/base/bootstrap-extended/_variables';
@import '@core/scss/base/components/_variables';

.inner {
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 0 2px $avatar-group-border, inset 0 0 0 1px rgba($black, 0.07);
  img {
    border-radius: 0;
    width: 100%;
    box-shadow: none !important;
  }
}
