@import '@core/scss/base/bootstrap-extended/_variables';

:global {
  .app-collapse {
    &.card {
      border-bottom: none !important;
      .card-header {
        border-bottom: 1px solid $border-color;
      }
    }
  }
}

.header {
  font-size: 18px !important;
  color: $headings-color !important;
  @media (max-width: (map-get($grid-breakpoints, sm))) {
    font-size: 16px !important;
  }
}
