@import '@core/scss/base/bootstrap-extended/_variables';

.menuTitle {
  padding: 10px 15px;
  margin: 0 15px;
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  color: $text-muted;
  display: none;
}

.menuDots {
  padding: 10px 15px;
  margin: 0 15px;
  line-height: 18px;
  margin-top: 10px;
}
