@import '@core/scss/base/bootstrap-extended/_variables';

.brandText {
  color: $primary !important;
  font-weight: 400 !important;
}
.brandSubText {
  font-weight: 700 !important;
}

.icon {
  color: $secondary !important;
}

.navLink {
  width: 20px !important;
  margin-bottom: 0 !important;
}
